:root {
    --Primary:rgb(215, 171, 132, 100);
    --Primary-low-opacity: rgb(215, 171, 132, 35%);
    --Dark: rgb(0, 0, 0);

    --Folklore-font: "IM Fell DW Pica", serif;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: maroon;
    background-image:url(Assets/Midnights-background.webp);
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-box {
    background-color: var(--Primary);
    width: 50vw;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

h1 {
    align-self: center;
}

.quote {
    white-space: pre-line;
    margin: 0 0 10px 0;
    font-style: italic;
}

.song-title {
    margin: 0;
    font-style: italic;
}

.album-grid {
    background-color: var(--Primary-low-opacity);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin: 100px;
    padding: 50px;
}

.album-cover {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover; /* Ensure images fit their containers */
}

.album-button {
    padding: 0;
    border: 0;
    width: fit-content;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.album-name {
    position: absolute; /* Position over the image */
    color: white; /* Adjust text color as needed */
    font-size: 1rem; /* Adjust font size */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth fade-in */
    pointer-events: none; /* Prevent interfering with hover state */
}

button:hover .album-name {
    opacity: 1;
}

.album-cover:hover {
 opacity: 30%;
 transition: opacity 0.3s ease;
}

button {
    background-color: var(--Dark);
}